keys/Google Maps API key.txt
keys/my-release-key.keystore
keys/my-release-key.keystore 2
keys/debug api key.txt
keys/debug.keystore
NIRailApp/bin/*
NIRailApp/res/raw/rail_data.zip
TimetableDownloader/TimetableDownloader/TimetableDownloader/bin/*
TimetableDownloader/TimetableDownloader/TimetableDownloader/metro/*
TimetableDownloader/TimetableDownloader/TimetableDownloader/train/*
*.apk
NIRailTests/bin/*
.idea
*.iml
NIRailApp/out/*
*.swp
*/build
*/gen
*/.gradle
